ReportManager/Connected Services/ServiceReference/ReportManagerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CoreWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CoreWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfActivatedAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActivatedAlarm" nillable="true" type="tns:ActivatedAlarm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActivatedAlarm" nillable="true" type="tns:ArrayOfActivatedAlarm" />
  <xs:complexType name="ActivatedAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Alarm" nillable="true" type="tns:Alarm" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActivatedAlarm" nillable="true" type="tns:ActivatedAlarm" />
  <xs:complexType name="Alarm">
    <xs:sequence>
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Threshold" type="xs:double" />
      <xs:element minOccurs="0" name="Type" type="tns:AlarmType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alarm" nillable="true" type="tns:Alarm" />
  <xs:simpleType name="AlarmType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="low" />
      <xs:enumeration value="high" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AlarmType" nillable="true" type="tns:AlarmType" />
  <xs:complexType name="ArrayOfTagValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagValue" nillable="true" type="tns:TagValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagValue" nillable="true" type="tns:ArrayOfTagValue" />
  <xs:complexType name="TagValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrivedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TagType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagValue" nillable="true" type="tns:TagValue" />
</xs:schema>